@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100&family=Varela+Round&display=swap');
body {
    margin: 0;
    text-align:center;
    font-family: 'Merriweather', serif;
    color: #434242;
  }
  
  h1 {
    margin: 50px auto 0 auto;
    font-family:'Sacramento',cursive;
    font-size: 5.625rem;
    /*color: #970747;*/
    color:#a8404a;
  }
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #E0144C;  
    font-weight: normal;
  }
  
  h3 {
    font-family: 'Montserrat', sans-serif;
    color: #CF0A0A;
  }
  
  p {
    line-height: 2;
  }
  
  hr {
    border: dotted #446878 6px;
    border-bottom: none;
    width: 6%;
    margin: 100px auto;
  }
  
  a {
    color: #13445A;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  a:hover {
    color: #3cb0fd;
  }
  
  .top-container {
    background-color: #FEF4E8;
    position: relative;
    padding-top: 100px;
    margin-bottom: 100px;
  }
  
  .cloud {
    position: absolute;
    right: 300px;
  }
  
  .top-cloud {
    top: 50px;
  }
  
  .bottom-cloud {
    bottom: 300px;
  }
  
  .mountain {
    width: 100%;
  }
  
  .skill-row {
    margin: 100px auto;
    width: 50%;
    text-align: left;
  }
  
  .code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  
  .basketball-img {
    width: 35%;
    border-radius: 20px;
    float: right;
    margin-left: 30px;
  }
  
  .Profile-img {
    border-radius: 50%;
    height: 10%;
    width: 15%;
  }
  
  .intro {
    width: 25%;
    margin: 10px auto;
  }
  
  table {
    margin: auto;
  }
  
  .contact-message {
    width: 35%;
    margin: 10px auto 40px auto;
  }
  
  .contact-me {
    margin: 50px auto;
  }
  
  .btn {
    border-radius: 8px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 20px;
    background: #a8404a;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #bf4c58;
    color: white;
    text-decoration: none;
  }
  
  .bottom-container {
    background-color: #F1F6F5;
    margin: 0;
    padding: 25px 25px 25px 10px;
  }
  
  .footer-link {
    margin: 10px 20px;
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: #3cb0fd;
  }
  
  .footer-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-text {
    margin: 0;
    padding: 0;
}